html {
    color: white;
    background-color: black;
    font-family: "pixel";
    font-size: 28px;
    margin-left: 18%;
    margin-right: 14%;
    position: relative;
    animation-name: drop;
    animation-duration: 1s;
}
    
a {
    color: red;
    text-decoration: none;
    border-bottom: none;
    }
    
a:hover {
    color: darkred;
    border-bottom: 2px solid currentColor;
    cursor: pointer;
}
    
img {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

post {
    font-family: "pixel";
    background-color: darkred;
    border-radius: 10px;
    padding: 10px 27px;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
}
    
@keyframes drop {
    0%   {left:0px; top:-700px; opacity: 0;}
    100%  {left:0px; top:0px; opacity: 1;}
}

.footer {
    font-size: 18px;
}