html {
color: white;
background-color: black;
font-family: "pixel";
font-size: 22px;
margin-left: 20%;
margin-right: 20%;
}

a {
  color: red;
  text-decoration: none;
  border-bottom: none;
}

a:hover {
  color: darkred;
  border-bottom: 2px solid currentColor;
}

img {
  height: 50%;
  width: 50%;
}

.png {
  height: 20%;
  width: 20%;
}

