html {
color: white;
background-color: black;
font-family: "pixel";
font-size: 28px;
margin-left: 20%;
margin-right: 20%;
}

a.link {
  color: red;
  text-decoration: none;
  border-bottom: none;
}

a.link:hover {
  color: darkred;
  border-bottom: 2px solid currentColor;
}

img {
  height: 20%;
  width: 20%;
}

.button {
  font-family: "pixel";
  background-color: black;
  border-radius: 25px;
  border-color: darkred;
  color: red;
  padding: 10px 27px;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.l {
  display: none;
}

