html {
    color: white;
    background: repeating-linear-gradient(90deg, darkred 0%, black 3%, black 3%, darkred 5%);
    font-family: "pixel";
    font-size: 22px;
    text-align: left;
  }
      
  a.link {
    color: red;
    text-decoration: none;
    border-bottom: none;
  }
  
  a.link:hover {
    color: darkred;
    border-bottom: 2px solid currentColor;
  }
  
  img {
    height: 0.1%;
    width: 0.2%;
    margin-left: 65%;
  }