html {
    color: rgb(131, 52, 0);
    background-color: rgba(131, 52, 0, 0.5);
    font-family: "pixel";
    font-size: 28px;
    margin-left: 20%;
    margin-right: 20%;
    }
    
    a.link {
      color: darkred;
      text-decoration: none;
      border-bottom: none;
    }
    
    a.link:hover {
      color: rgb(77, 0, 0);
      border-bottom: 2px solid currentColor;
    }
    
    img {
      height: 35%;
      width: 35%;
    }

    .footer {
      font-size: 18px;
    }

    @keyframes drop {
      0%   {left:0px; top:-1200px;}
      1%   {left:0px; top:-1200px;}
      100% {left:0px; top:0px; visibility: visible;}
    }

    .one {
      position: relative;
      animation-name: drop;
      animation-duration: 1s;
      visibility: hidden;
      animation-fill-mode: forwards;
    }
    .two {
      position: relative;
      animation-name: drop;
      animation-duration: 1s;
      animation-delay: 0.5s;
      visibility: hidden;
      animation-fill-mode: forwards;
    }
    .three {
      position: relative;
      animation-name: drop;
      animation-duration: 1s;
      animation-delay: 1s;
      visibility: hidden;
      animation-fill-mode: forwards;
    }