html {
    color: rgb(131, 52, 0);
    background-color: rgba(131, 52, 0, 0.5);
    font-family: "pixel";
    font-size: 28px;
    margin-left: 20%;
    margin-right: 20%;
    }
    
    a.link {
      color: darkred;
      text-decoration: none;
      border-bottom: none;
    }
    
    a.link:hover {
      color: rgb(77, 0, 0);
      border-bottom: 2px solid currentColor;
    }
    
    img {
      height: 35%;
      width: 35%;
    }

    .footer {
      font-size: 18px;
    }