html {
   background-image: url("/IMG/rickroll.gif");
   text-align: center;
}

.error {
   background-color: red;
   animation-name: rainbow;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

@keyframes rainbow {
   0%   {background-color: red;}
   25%  {background-color: yellow;}
   50%  {background-color: green;}
   75% {background-color: blue;}
   100%   {background-color: red;}
 }
