html {
  color: white;
  background: repeating-linear-gradient(90deg,darkred 0%, red 3%, red 3%, darkred 5%);
  font-family: "pixel";
  font-size: 22px;
  text-align: center;
}
    
a.link {
  color: red;
  text-decoration: none;
  border-bottom: none;
}

a.link:hover {
  color: darkred;
  border-bottom: 2px solid currentColor;
}

img {
  height: 50%;
  width: 80%;
}

const submit = document.getElementById('submit');
let answer = document.getElementById('answer');
const target = 2;

function log(value, mode) {
  console.clear();
  
  if(mode)
    console.log(`Information: ${value}`);
  else
    console.log(`Input: ${value}`);
}

answer.addEventListener('input', function(event) {
  log(this.value, true);
  
  if(parseInt(this.value) == target) {
    submit.disabled = false;
  }
  else {
    submit.disabled = true; 
  }
});

submit.addEventListener('click', function(event) {
  log("Button fired.", false);
});