html {
  color: white;
  background: repeating-linear-gradient(90deg,darkred 0%, red 3%, red 3%, darkred 5%);
  font-family: "pixel";
  font-size: 22px;
  margin-left: 20%;
  margin-right: 20%;
}
    
a.link {
  color: red;
  text-decoration: none;
  border-bottom: none;
}

a.link:hover {
  color: darkred;
  border-bottom: 2px solid currentColor;
}

img {
  height: 50%;
  width: 50%;
  margin-left: 20%;
  margin-right: 20%;
}